.container, .phone {
  margin-inline: auto;
}

.phone form input::-webkit-input-placeholder {
  font-weight: 400;
}

.phone form input::-moz-placeholder {
  font-weight: 400;
}

.phone form input:-ms-input-placeholder {
  font-weight: 400;
}

.phone form input::-ms-input-placeholder {
  font-weight: 400;
}

.phone__header .name__wraper p, .phone .chat p, .phone .chat .price__time, .phone form input::placeholder, .content {
  font-weight: 400;
}

.phone__header .name__wraper h3 {
  font-weight: 500;
}

.phone .chat .price__amount {
  font-weight: 700;
}

/*   --- root css --- */
:root {
  --font-size: 100%;
  --H1: 2.5rem;
  --H2: 2rem;
  --H3: 0.6875rem;
  --par: 1rem;
  --par__header: 0.5rem;
  --chat__li: 0.5rem;
  --span: 0.75rem;
  --price__walk: 0.5rem;
  --placeholder: 0.5625rem;
}

/*   --- normalize css --- */
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*  --- reset css --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
body,
form,
aside,
input,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #808080;
}

/* --- typography --- */
@font-face {
  font-family: "Rubik";
  src: url(../assets/webfonts/Font-face/Rubik-Medium.woff2) format("woff2"), url(../assets/webfonts/Font-face/Rubik-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Rubik";
  src: url(../assets/webfonts/Font-face/Rubik-Regular.woff2) format("woff2"), url(../assets/webfonts/Font-face/Rubik-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Rubik";
  src: url(../assets/webfonts/Font-face/Rubik-Bold.woff2) format("woff2"), url(../assets/webfonts/Font-face/Rubik-Bold.ttf) format("truetype");
  font-weight: 700;
}
/*   --- general settings --- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--font-size);
  scroll-behavior: smooth;
}
html ::-moz-selection {
  background-color: #fafafa;
  color: white;
}
html ::selection {
  background-color: #fafafa;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #808080;
}

/*  --- header --- */
/* --- home main --- */
.home {
  font-optical-sizing: auto;
  background-color: #fafafa;
  font-family: Rubik, sans-serif;
}

.container {
  max-width: 23.4375em;
  min-width: 12.5em;
  padding-block: 4em;
  position: relative;
  overflow: hidden;
}
.container::after, .container::before {
  position: absolute;
  content: "";
  background: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);
  z-index: -1;
  border-radius: 255px;
  min-height: 63.625em;
  width: 31.875em;
}
.container::before {
  top: -31.8125em;
  right: 50%;
}
.container::after {
  left: 50%;
  bottom: -27.8125em;
  opacity: 0.03;
}

.phone {
  max-width: 15.4375em;
  padding: 0.6875em 0.5625em;
  -webkit-box-shadow: 0 1.875em 3.75em -0.625em rgba(62, 39, 83, 0.2509803922);
          box-shadow: 0 1.875em 3.75em -0.625em rgba(62, 39, 83, 0.2509803922);
  border-radius: 1.875em;
  background-color: #ffffff;
}
.phone__wrapper {
  background-color: #f5f3f7;
  border-radius: 1.25em;
  padding-bottom: 1em;
}
.phone__header {
  background: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);
  border-radius: 1.25em 1.25em 0.375em 0.375em;
  padding-block: 1.875em 0.75em;
  padding-inline: 0.9375em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.phone__header::before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  top: 0;
  left: 3.125em;
  right: 3.125em;
  min-height: 1.125em;
  border-bottom-left-radius: 0.875em;
  border-bottom-right-radius: 0.875em;
}
.phone__header .avatar {
  margin-inline: 0.5em;
}
.phone__header .avatar img {
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.phone__header .fa-ellipsis-vertical,
.phone__header .fa-angle-left {
  color: #ffffff;
}
.phone__header .dots {
  text-align: right;
  font-size: 0.625em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.phone__header .name__wraper h3 {
  font-size: var(--H3);
  line-height: 1.1818181818em;
  color: #ffffff;
}
.phone__header .name__wraper p {
  font-size: var(--par__header);
  line-height: 1.375em;
  color: #d99eff;
}
.phone .chat ul li:first-child {
  margin-top: 0.5em;
}
.phone .chat .mb16 {
  margin-bottom: 1em;
}
.phone .chat li {
  margin-bottom: 0.5em;
}
.phone .chat p {
  max-width: 16em;
  padding: 1em;
  font-size: var(--chat__li);
  line-height: 1.375em;
  display: inline-block;
}
.phone .chat__left {
  padding-left: 0.5em;
}
.phone .chat__left p {
  border-radius: 10px 10px 10px 4px;
  background-color: #eee5f4;
  color: #9341c8;
}
.phone .chat__right {
  padding-right: 0.5em;
  text-align: right;
}
.phone .chat__right p {
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px 10px 4px 10px;
  -webkit-box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.0431372549);
          box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.0431372549);
  color: #6e5d7e;
}
.phone .chat .dogs {
  max-width: 100%;
}
.phone .chat .dogs__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.5em;
}
.phone .chat .dogs__wraper img {
  border-radius: 0.625em;
}
.phone .chat .price {
  max-width: 10em;
  margin-left: 0.5em;
  background: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);
  border-radius: 10px 10px 10px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.phone .chat .price .circle {
  width: 0.75em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #e472ff;
  margin-inline: 0.5em;
}
.phone .chat .price__amount {
  font-size: var(--span);
  line-height: 0.9166666667em;
  color: #ffffff;
  padding-right: 1.3333333333em;
}
.phone .chat .price__time {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: var(--price__walk);
  line-height: 1.375em;
  color: #ffffff;
  padding-inline: 0;
}
.phone form {
  margin-top: 1em;
  margin-inline: 0.5em;
  border-radius: 16.9544px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.phone form input {
  border-radius: 16.9544px;
  padding-inline: 2.1111111111em;
  padding-block: 1.4444444444em 1em;
  background-color: #ffffff;
  font-size: var(--placeholder);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.phone form input::-webkit-input-placeholder {
  font-size: var(--placeholder);
  line-height: 1.2222222222em;
  letter-spacing: -0.0703125px;
  color: #c5c9cc;
}
.phone form input::-moz-placeholder {
  font-size: var(--placeholder);
  line-height: 1.2222222222em;
  letter-spacing: -0.0703125px;
  color: #c5c9cc;
}
.phone form input:-ms-input-placeholder {
  font-size: var(--placeholder);
  line-height: 1.2222222222em;
  letter-spacing: -0.0703125px;
  color: #c5c9cc;
}
.phone form input::-ms-input-placeholder {
  font-size: var(--placeholder);
  line-height: 1.2222222222em;
  letter-spacing: -0.0703125px;
  color: #c5c9cc;
}
.phone form input::placeholder {
  font-size: var(--placeholder);
  line-height: 1.2222222222em;
  letter-spacing: -0.0703125px;
  color: #c5c9cc;
}
.phone form .wrapper {
  margin-right: 0.375em;
}
.phone form .fa-angle-right {
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  width: 1.5625em;
  aspect-ratio: 1/1;
  background-color: #3e2753;
  line-height: 1.5em;
}

.content {
  padding-inline: 2em;
  margin-top: 4em;
  text-align: center;
}
.content h1 {
  font-size: var(--H1);
  line-height: 1.175em;
  color: #3e2753;
  margin-bottom: 0.6em;
}
.content p {
  font-size: var(--par);
  line-height: 1.75em;
  color: #a39da9;
}

/* mediaqueries */
@media only screen and (max-width: 250px) {
  :root {
    --font-size: 90%;
  }
  .content {
    padding-inline: 1.1111111111em;
  }
}
@media only screen and (min-width: 750px) {
  .home {
    min-height: 100svh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container {
    max-width: 90em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: clamp(1rem, 15.797vw - 6.405rem, 7.813rem);
  }
  .container::before {
    right: 74.3%;
    top: -25.5625em;
  }
  .container::after {
    left: 74.3%;
    bottom: -25.5625em;
  }
  .container .phone__container {
    -ms-flex-preferred-size: 15.4375em;
        flex-basis: 15.4375em;
  }
  .container .content {
    -ms-flex-preferred-size: 27.8125em;
        flex-basis: 27.8125em;
    margin: 0;
    text-align: left;
    padding: 0;
  }
}
/*# sourceMappingURL=home.css.map */
