@use '../partials/tools' as *;
@use '../partials/assembler/' as *;

// --------------------
/* --- home main --- */
// --------------------

.home {
    font-optical-sizing: auto;
    background-color: $clr-bg-body;
    font-family: $font-family-Rubik;
}

.container {
    max-width: em(375, 16);
    min-width: em(200, 16);
    @extend %autoMargin;
    padding-block: em(64, 16);
    position: relative;
    overflow: hidden;
    &::after,
    &::before {
        position: absolute;
        content: '';
        background: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);
        z-index: -1;
        border-radius: 255px;
        min-height: em(1018, 16);
        width: em(510, 16);
    }

    &::before {
        top: em(-509, 16);
        right: 50%;
    }

    &::after {
        left: 50%;
        bottom: em(-445, 16);
        opacity: 0.03;
    }
}
.phone {
    max-width: em(247, 16);
    @extend %autoMargin;
    padding: em(11, 16) em(9, 16);
    box-shadow: 0 em(30, 16) em(60, 16) em(-10, 16) $clr-shdw__phone;
    border-radius: em($br-phone, 16);
    background-color: $clr-bg-phone;

    &__wrapper {
        background-color: $clr-bg-phone__wraper;
        border-radius: em($br-phone__wrapper, 16);
        padding-bottom: em(16, 16);
    }

    &__header {
        background: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);
        // box-shadow: 0 0 13px $clr-shdw__header;
        border-radius: em(20, 16) em(20, 16) em(6, 16) em(6, 16);

        padding-block: em(30, 16) em(12, 16);
        padding-inline: em(15, 16);

        display: flex;
        align-items: center;

        position: relative;

        &::before {
            position: absolute;
            content: '';
            background-color: $clr10;
            top: 0;
            left: em(50, 16);
            right: em(50, 16);
            min-height: em(18, 16);

            border-bottom-left-radius: em(14, 16);
            border-bottom-right-radius: em(14, 16);
        }

        .avatar {
            margin-inline: em(8, 16);
            img {
                border: 1px solid $clr10;
                border-radius: 50%;
            }
        }
        .fa-ellipsis-vertical,
        .fa-angle-left {
            color: $clr10;
        }
        .dots {
            text-align: right;
            font-size: em(10, 16);
            flex-grow: 1;
        }

        .name__wraper h3 {
            font-size: var(--H3); //11
            line-height: em(13, 11);
            @extend %weight-500;
            color: $clr-txt-H3--header;
        }
        .name__wraper p {
            font-size: var(--par__header); //8
            line-height: em(11, 8);
            @extend %weight-400;
            color: $clr-txt-par--header;
        }
    }

    .chat {
        ul li:first-child {
            margin-top: em(8, 16);
        }

        .mb16 {
            margin-bottom: em(16, 16);
        }

        li {
            margin-bottom: em(8, 16);
        }
        p {
            max-width: em(128, 8);
            padding: em(8, 8);
            font-size: var(--chat__li); //8
            line-height: em(11, 8);
            @extend %weight-400;
            display: inline-block;
        }

        &__left {
            padding-left: em(8, 16);
            p {
                border-radius: 10px 10px 10px 4px;
                background-color: $clr-bg-chat-li;
                color: $chat__li--left;
            }
        }

        &__right {
            padding-right: em(8, 16);
            text-align: right;
            p {
                text-align: left;
                background-color: $clr10;
                border-radius: 10px 10px 4px 10px;
                box-shadow: 0px 10px 5px -5px #3e27530b;
                color: $chat__li--right;
            }
        }

        .dogs {
            max-width: 100%;
            &__wraper {
                display: flex;
                justify-content: flex-end;
                gap: em(8, 16);
            }
            &__wraper img {
                border-radius: em(10, 16);
            }
        }

        .price {
            max-width: em(160, 16);
            margin-left: em(8, 16);

            background: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);

            border-radius: 10px 10px 10px 4px;

            display: flex;
            align-items: center;
            justify-content: flex-start;

            .circle {
                width: em(12, 16);
                aspect-ratio: 1/1;
                border-radius: 50%;
                border: 1px solid $clr15;
                margin-inline: em(8, 16);
            }
            &__amount {
                @extend %weight-700;
                font-size: var(--span); //12
                line-height: em(11, 12);
                color: $clr10;
                padding-right: em(16, 12);
            }
            &__time {
                flex-grow: 1;
                flex-shrink: 0;
                font-size: var(--price__walk); //8
                line-height: em(11, 8);
                @extend %weight-400;
                color: $clr10;
                padding-inline: 0;
            }
        }
    }
    form {
        margin-top: em(16, 16);
        margin-inline: em(8, 16);
        border-radius: 16.9544px;
        background-color: $clr10;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            border-radius: 16.9544px;
            padding-inline: em(19, 9);
            padding-block: em(13, 9) em(9, 9);
            background-color: $clr10;
            font-size: var(--placeholder);
            flex-grow: 1;

            &::placeholder {
                @extend %weight-400;
                font-size: var(--placeholder);
                line-height: em(11, 9); //9
                letter-spacing: -0.0703125px;
                color: $clr18;
            }
        }

        .wrapper {
            margin-right: em(6, 16);
        }
        .fa-angle-right {
            text-align: center;
            border-radius: 50%;
            color: $clr10;
            width: em(25, 16);
            aspect-ratio: 1/1;
            background-color: $clr13;
            line-height: 1.5em;
        }
    }
}
.content {
    padding-inline: em(32, 16);
    margin-top: em(64, 16);
    text-align: center;
    @extend %weight-400;

    h1 {
        font-size: var(--H1); //40
        line-height: em(47, 40);
        color: $clr-txt-H1;
        margin-bottom: em(24, 40);
    }

    p {
        font-size: var(--par); //16
        line-height: em(28, 16);
        color: $clr-txt-par;
    }
}
