@use '../partials/tools' as *;
@use '../partials/assembler/' as *;

// ----------------------
/* mediaqueries */
// ----------------------

@include mQdefault__max-width(250px) {
    :root {
        --font-size: #{$font-size-90};
    }
    .content {
        padding-inline: em(16, 14.4);
    }
}

@include mQdefault__min-width(750px) {
    .home {
        min-height: 100svh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        max-width: em(1440, 16);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(1rem, 15.797vw - 6.405rem, 7.813rem);

        &::before {
            right: 74.3%;
            top: em(-409, 16);
        }
        &::after {
            left: 74.3%;
            bottom: em(-409, 16);
        }

        .phone__container {
            flex-basis: em(247, 16);
        }
        .content {
            flex-basis: em(445, 16);
            margin: 0;
            text-align: left;
            padding: 0;
        }
    }
}
